<table>
<h2>Favorite Ranking</h2>
<% if @nelcoposts.present? %>
  <% @nelcoposts.each_with_index do |nelcopost, index| %>
    <%= index+1 %>位： <%= @ranking_counts[nelcopost.id] %>いいね
    <%= link_to (image_tag nelcopost.image.url(:thumb)), user_path(nelcopost [:user_id]) %>
  <% end %>
<% end %>
</table>