<div class="row">
    <div class="col-ms-3">
      <h3>いいねした投稿</h3>
        <% @favorites.each do |favorite| %>
          <%= link_to (image_tag favorite.image.url), user_path(favorite [:user_id]) %>
        <% end %>
    </div>
</div>


  
