<h2>すべての投稿一覧</h2>
<br>
<br>
<% @nelcoposts.each do |nelcopost| %>
  <% if nelcopost.image.url.present? %>
    <%= link_to (image_tag nelcopost.image.url), user_path(nelcopost [:user_id]) %>
  <% else %>
    <%= link_to (image_tag "nelco_post.jpg"), user_path(nelcopost [:user_id] ) %>
  <% end %>
<% end %>