<div id="top-contents">
      <h1>さぁ、<ruby>nelco<rt>ネルコ</rt></ruby>で<br>
          寝顔をシェアしよう</h1>
      <p>ペットの寝顔をシェアできるサービスです</p>
      <%= link_to "nelcoを始める", signup_path, class: "btn btn-success" %>
</div>