<% if logged_in? %>
ログイン完了ユーザー：<%= current_user.name %>
<% else %>
  <% content_for :cover do %>
    <div id="top-contents">
        <video id="bg-video" src="/images/nelco-top-comp.mp4" poster="/images/nelco-top.jpg" autoplay loop></video>
        <h1>さぁ、<ruby>nelco<rt>ネルコ</rt></ruby>で<br>
            寝顔をシェアしよう</h1>
        <p>ペットの寝顔をシェアできるサービスです</p>
        <%= link_to "nelcoを始める", signup_path, class: "btn btn-success" %>
    </div>
  <% end %>
<% end %>