<% if logged_in? %>

<%= render "rankings/favorite", favorites: @favorites %><br>

<h3>すべての投稿</h3>
  <% @followings_users_posts.each do |followings_users_post| %>
    <%= link_to (image_tag followings_users_post.image.url), user_path(followings_users_post [:user_id] ) %>
  <% end %>

  <%= paginate @nelcopost_pages %>

<% else %>
  <% content_for :cover do %>
    <div id="top-contents">
        <video id="bg-video" src="/images/nelco-top-comp.mp4" poster="/images/nelco-top.jpg" autoplay loop></video>
        <h1>さぁ、<ruby>nelco<rt>ネルコ</rt></ruby>で<br>
            寝顔をシェアしよう</h1>
        <p>ペットの寝顔をシェアできるサービスです</p>
        <%= link_to "nelcoを始める", signup_path, class: "btn btn-success" %>
    </div>
  <% end %>
<% end %>