@charset "utf-8";

body  {
  padding-top: 160px;
  font-family: Arial , Verdana , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

#top-contents  {
  /* width: 500px; */
  color: #ffffff;
  margin-right: auto;
  margin-left : auto;
  margin-top:20%;
  margin-bottom: 20%;
  display: block;
}

#footer  {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #AAD7FF;
}

.navbar-header .navbar-toggle  .icon-bar  {
  background-color: black;
}

.navbar  {
    background-color: #AAD7FF;
}
.navbar-header img  {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
}

.navbar-right  {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* ----- 背景用の動画ファイル ----- */
#bg-video  {
 position: fixed;
 right: 0;
 bottom: 0;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 z-index: -100;
 /* background: url('/images/nelco-top.jpg') no-repeat; */
 background-size: cover;
}

/* ----- 背景の上に表示させたいコンテンツ ----- */
.header-title  {
 /*position: relative; */
 z-index: 2; /*必ず必要*/
 display: flex;
 width: 50%;
 justify-content: center;
 align-items: center;
 text-align:center;
 margin: auto;
}

